/application.properties
.classpath
*.crt
*.der
.factorypath
.flattened-pom.xml
.idea/
*.iml
*.key
kwinject.out
.kwlp/
.kwps/
logback*.xml
*.oc
*.oc
*.op
*.op
*.pem
pom.xml.versionsBackup
.project
/sdo.properties
.settings/
*.swp
target/
*.jar
config.properties
component-samples/demo/*/lib/*.pom
protocol/src/test/resources/credentials.bin
protocol/src/test/resources/owner_pub_key
protocol/app-data